%p#notice= notice

%p
  %b Name:
  = @k_tag.name
%p
  %b Description:
  = @k_tag.description
%p
  %b Account:
  = @k_tag.account

= link_to 'Edit', edit_k_tag_path(@k_tag)
\|
= link_to 'Back', k_tags_path
